.topnav {
    /* background-color: #333; */
    overflow: hidden;
}

.topnav {
	display: flex;
	height: 55px;
	margin-bottom: 10px;
}

#main-logo{
	width: 50px;
}

#main-title{
	width: 67%;
	display: flex;
	flex-direction: row;
}

#title{
	font-weight: bold;
	font-size: xxx-large;	
	font-family: sans-serif;
	color: black;
}

#button-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 33%;
}

#add-buttons {
	vertical-align: middle;
	display: flex;
	justify-content: right;
}

.add-button, .kill_button {
    border: 1px solid gray;
    border-radius: 4px;
	font-family: Lato;
	font-weight: bold;
	vertical-align: middle;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
	padding: 10px 10px;
	margin: 0px 2px;
	background-color: white;
}

.kill_button {
    margin-right: 10px;
	margin-top: 7px;
	color: gray;
	font-size: small;
	/* width: 10%; */
}

.player_list, .spell_list {
    display: flex;
    justify-content: left;
    margin: 3px;
    width: 90%;
	border: 1px solid lightgray;
	border-radius: 4px;
	padding: 1px;
}

.active-player {
    font-weight: bold;
	border: 2px solid gray;
	padding: 0px;
}

.active-spell {
	border: 2px solid gray;
	padding: 0px;
}

.active-caster {
	font-weight: bold;
}

.player-logo, .monster-logo, .effect-logo {
	width: 60px;
}

.player-logo-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 10px;
	border: 1px solid lightgray;
	border-radius: 4px
}

.player {
    width: 100%;
}

.right-div{
	width: 100%;
}

.card-top-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
}

.card-bottom-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
}

.card-character-name {
	margin-top: 18px;
	font-family: sans-serif;
	font-size: small;
	color: gray;
}

.player-name, .spell-mid-botname-container {
	margin-top: -2px;
	font-weight: bold;
	font-family: sans-serif;
	font-size: x-large;
}

.player-init {
	margin-right: 21px;
	margin-top: 5px;
	font-weight: bold;
	font-size: xx-large;
	font-family: sans-serif;
}

#add, #spell, #add-section, #new-effect {
    display: none;
    padding: 14px 0;
}

.error {
    display: none;
    color: red
}


.spell_list {
    display: flex;
    /* margin: 5px 0; */
}

.spell_list ul {
    list-style-type: none;
    margin-bottom: 10px;
    padding-inline-start: 20px;
    width: 75%
}

.spell-img-container {
	margin: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	border: 0px solid lightgray;
	border-radius: 4px;
}

.spell-remove-container {
	display: flex;
	justify-content: flex-end;
}

.spell-logo {
	width: 60px;
}

.spell-mid-div {
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	margin: 10px 0 10px 2px;
}

.spell-left-div, .spell-right-div {
	width: 25%;
}

.spell-mid-topname-container {
	font-family: sans-serif;
	font-size: small;
	color: gray;
}

.spell-time-container {
	font-family: Lato;
	font-size: medium;
	font-weight: bold;
	color: black;
	margin-bottom: 3px;
}

.spell-conc-container {
	font-family: Lato;
	font-size: medium;
	color: gray;
}

.spell-remove {
	display: none;
	border: 1px solid lightgray;
	border-radius: 50%;
	width: 10px;
	height: 10px;
	justify-content: center;
	align-items: center;
	padding: 3px;
	margin: 3px 3px 0 0;
}

.spell-remove-placeholder {
	height: 21px; 	/* .spell-remove height + margin + padding + border */
	display: flex;
}

#all-players ul, #all-spells ul {
	padding-inline-start: 0px;
}

.spell-input, .player-input, .effect-input {
    max-width: 170px;
	border: 1px solid gray;
    border-radius: 4px;
	font-family: Lato;
	font-weight: bold;
	vertical-align: middle;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
	padding: 10px 10px;
	margin: 0px 2px;
	background-color: white;
}

#main-display {
	display: flex;
	flex-direction: row;
}

#combat-container {
	width: 70%;
}

#spell-container {
	width: 30%;
	min-width: 50px;
}

.bottom_buttons {
    display: flex;
	margin-top: 50px;
}

.bottom_buttons button {
    border: 1px solid black;
    border-radius: 4px;
	font-family: Lato;
	font-weight: bold;
	vertical-align: middle;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
	padding: 10px 10px;
	margin: 0px 2px;
	background-color: black;
	color: white;
}

#battle-header {
	font-family: sans-serif;
	font-weight: bold;
	font-size: xx-large;
	margin: 10px 0;
}

.container-header {
	font-family: sans-serif;
	font-weight: bold;
	font-size: x-large;
}

#toast {
    visibility: hidden;
    min-width: 250px;
    margin-left : -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
}

#toast.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

