{% extends "tracker/layout.html" %}

{% block title %}
<title>Add a Spell</title>
{% endblock %}

{% block body %}

<div class="topnav">
    <a href="{% url 'index' %}">Return to Battle</a>
</div>

{% if message %}
    <h2>{{ message }}</h2>
{% endif %}

<div class="add">
    <form action="{% url 'spell' %}" method="POST">
        {% csrf_token %}
        <input name="spell" type="text" placeholder="Spell Name" required>
        <input name="duration" type="number" placeholder="Length" required min="1">
        <select name="concentration" required>
            <option value="" disabled selected hidden>Concentration</option>
            <option value="True">True</option>
            <option value="False"> False</option>
        </select>
        <select name="caster" required>
            <option value="" disabled selected hidden>Caster</option>
            {% for player in players %}
                <option value="{{ player.id }}">{{ player.name }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Cast">
    </form>
</div>

{% endblock %}