{% extends "tracker/layout.html" %}

{% block title %}
<title>Add Character to Battle</title> 
{% endblock %}

{% block body %}

<div class="topnav">
    <a href="{% url 'index' %}">Return to Battle</a>
</div>

{% if message %}
    <h2>{{ message }}</h2>
{% endif %}

<div class="add"> 
    <form action="{% url 'add_player' %}" method="POST">
        {% csrf_token %}
        <input type="text" name="player" placeholder="Character Name">
        <input type="number" name="initiative" placeholder="initiative" min="1">
        <input type="submit" name="add_button" value="Add Character">
        <input type="submit" name="add_button" value="Add and Continue Adding">
    </form> 
</div>

{% endblock %}
