{% extends "tracker/layout.html" %}

{% block title %}
<title>Initiative tracker: Keep Track of Turns and Spells!</title>
{% endblock %}

{% block body %}

<div class="topnav">
    <button id="add-player">Add Character to Battle</button>
    <button id="add-spell">Add Spell</button>
</div>


<div id="add"> 
    <input id="new-name" type="text" name="player" placeholder="Character Name">
    <input id = "new-init" type="number" name="initiative" placeholder="initiative" min="1">
    <input id="player-add" type="submit" name="add_button" value="Add Character">
</div>

<div id="spell"> 
    <input id="new-spell-name" name="spell" type="text" placeholder="Spell Name" required>
    <input id="new-spell-duration" name="duration" type="number" placeholder="Length" required min="1">
    <select id="new-spell-conc" name="concentration" required>
        <option value="" disabled selected hidden>Concentration</option>
        <option value="True">True</option>
        <option value="False"> False</option>
    </select>
    <select id="spell-cast" name="caster" required>
        <option value="" disabled selected hidden>Caster</option>
    </select>
    <input id="spell-add" type="submit" value="Cast">
</div>


<h2>Current Battle</h2>
<ul class='current-players'>
        No players yet
</ul>

<h2>Active Spells</h2>
<ul id="all-spells">
    {% for spell in spells %}

        <li class="spell_list">
            <div>
                {{ spell.name }}
            </div>

            <ul>
                <li>Remaining Time: {{ spell.duration }}</li>
                <li>Caster: {{ spell.caster }}</li> 

                {% if spell.concentration == True %}
                    <li>Concentration</li>
                {% endif %}
            </ul>

            <form action="{% url 'remove' spell.id %}" method="POST">
                {% csrf_token %}
                <input type="submit" name="rem" value="Cancel">
            </form>
        </li>


    {% endfor %}

</ul>

<div class="bottom_buttons">
    <form action="{% url 'turn' %}" method="POST" class="button">
        {% csrf_token %}
        <input type="submit" value="End Turn">
    </form>

    <form action="{% url 'clear' %}" method="POST" class="button">
        {% csrf_token %}
        <input type="submit" value="End Battle">
    </form>
</div>

{% endblock %}